<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Profiles</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Profiles</h2>
<ul>
    <li th:each="p : ${profiles}">
        <span th:text="${p.fullName}"></span> -
        <span th:text="${p.bio}"></span>
    </li>
</ul>

<h3>Create Profile</h3>
<form th:action="@{/profiles}" method="post">
    <label>
        <input type="text" name="fullName" placeholder="Full Name"/>
    </label>
    <label>
        <input type="text" name="bio" placeholder="Bio"/>
    </label>
    <button type="submit">Save</button>
</form>
</body>
</html>
