<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Register</h2>
<form th:action="@{/auth/register}" method="post">
    <label>
        <input type="text" name="username" placeholder="Username"/>
    </label>
    <label>
        <input type="email" name="email" placeholder="Email"/>
    </label>
    <label>
        <input type="password" name="password" placeholder="Password"/>
    </label>
    <button type="submit">Register</button>
</form>
<a th:href="@{/auth/login}">Already have an account? Login</a>
</body>
</html>
